/* xs */
@media (max-width: 600px) {
    .table-expedition {
        width: 88vw;
    }

    .gridFilterContent {
        justify-content: flex-start;

    }

    .gridFilter {
        padding: 1rem 1rem;
    }
}

.gridFilterContent {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 1rem;
}

.gridFilter {
    padding: 1rem 1rem 0rem 1rem;
}

.btns {
    padding: 0px 10px 0px 0px;
}

.table-expedition {
    height: 40vh !important;
    width: 97vw;
    margin-bottom: 16px;
    padding: 0rem 1rem;
}

/* sm */
@media (max-width: 900px) {
    .table-expedition {
        width: 92vw;
    }
}

/* md */
@media (max-width: 1200px) {
    .table-expedition {
        width: 95vw;
    }
}